version: "3.3"

services:
  app:
    image: node:12-slim
    working_dir: /app
    volumes:
      - ./ui:/app
    networks:
      - app_net
    environment:
      API_HOST: 0.0.0.0
      API_PORT: 8081
    ports:
      - 8080:8080
    command: yarn serve
    depends_on:
      - api

  api:
    image: gradle:5.6.3-jdk11
    working_dir: /api
    volumes:
      - ./api:/api
      - ./api/gradle-cache:/home/gradle/.gradle
    networks:
      - app_net
    environment:
      DB_HOST: db
      DB_PORT: 3306
      DB_NAME: votes
      DB_USER: root
      SPRING_PROFILES_ACTIVE: local
      SPRING_JPA_SHOW_SQL: 'true'
      APP_ENV: local
    ports:
      - 8081:8081
    command: gradle bootRun
    depends_on:
      - db
  db:
    image: mysql:5.7
    restart: always
    environment:
      MYSQL_ROOT_USER: root
      MYSQL_ALLOW_EMPTY_PASSWORD: 'true'
      MYSQL_DATABASE: votes
      MYSQL_USER: root
    networks:
      - app_net
    command: --init-file /data/application/init.sql
    volumes:
      - ./api/init.sql:/data/application/init.sql
      - db-cache:/var/lib/mysql
    ports:
      - 3307:3306

networks:
  app_net:

volumes:
  gradle-cache:
  db-cache:
